/*--------------COLORS-------------------*/
$background-color: #86c1bc;
$text-color-default: #fff;
$field-color:#fff;
$filed-color-active:#5384a7;
$text-color-alt:#e5e5e5;
$field-color-light:rgba(255, 255, 255, 1);
$warning-color:#a7535a;
$tweet-background:#f5f8fa;
$tweet-alt-text:#70808F;
$tweet-text:#14171a;
$tweet-accent:#1B95E0;
$tweet-handle-color:#778593;
