@import 'colors';
@import 'mixins';

.questionContainer{
  width:60%;
  @include mq('tablet'){
    width:40%;
  }
  @include mq('desktop'){
    width:30%;
  }
  .input-field {
    margin-bottom:25px;
    input{
      border-bottom:2px solid $field-color-light !important;
      font-size: 2em !important;
      margin-bottom:10px !important;
      padding-bottom: 5px;
      z-index: 100;
      &:focus{
         border-bottom:2px solid $filed-color-active !important;
         box-shadow: 0px 0px 0px $filed-color-active !important;
         &+label{
           color:$filed-color-active !important;
           font-size: 1rem;
           &+div{
             color:$filed-color-active !important;
           }
         }

      }
    }
    .helper{
      font-size: .85rem;
      font-weight: $helper-weight;
    }
  }

  .qLabel{
    font-size: 2rem;
    color:$text-color-default;

  }
  .buttonBox{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    .submitButton{
      font-weight: normal;
      background:$filed-color-active;
    }
  }
}
