extends layout
block content
  script(type='text/javascript') var tweet = !{JSON.stringify(swapsies)}
  script(type='text/javascript') var output = !{JSON.stringify(data)}
  
  div(class='tweetContainer')
    div(class='tweetBody')
      div(class='profileOverview')
        img(class='img' src='/media/profileImg.jpg')
        a(href='https://twitter.com/realDonaldTrump' target="_blank")
          div(class='accountInfo')
            div(class='nameContainer')
              strong(class='name') Donald J. Trump
              span(class='badges')
            span(class='handle') @fakeDonaldTrump
      div(class='tweetTextContainer')
        p(class='text') 
      div(class='details')
        div(class='dateTime')
  div(class='actionContainer')
    a(class="btn waves-effect waves-light" href='/') Create New TweetLib
      i(class="material-icons left") add
  
  //- div(class="fixed-action-btn horizontal click-to-toggle tweet-action-button")
  //-   a(class="btn-floating btn-large primary")
  //-     i(class="material-icons") menu
  //-   ul
  //-     li
  //-       a(class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="New TweetLib" href='/')
  //-         i(class="material-icons") create
          
      

              
        
          
    

    
