extends layout
block content
  script(type='text/javascript') var output = !{JSON.stringify(data)}
  -var tweet = txtHTML;
  div(id='tweet' class='tweetContainer')
    div(class='tweetBody')
      div(class='profileOverview')
        img(class='img' src='/media/profileImg.jpg')
        a(href='https://twitter.com/realDonaldTrump' target="_blank")
          div(class='accountInfo')
            div(class='nameContainer')
              strong(class='name') Donald J. Trump
              span(class='badges')
            span(class='handle') @fakeDonaldTrump
      div(class='tweetTextContainer')
          div(class='text') !{tweet}
      div(class='details')
        div(class='dateTime')
  div(class='actionContainer')
    //- .fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button', data-size='large', data-mobile-iframe='true')
    //-     a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Share
    a(class="btn waves-effect waves-light" href='/') Create New TweetLib
      i(class="material-icons left") add
  
  //- div(class="fixed-action-btn horizontal click-to-toggle tweet-action-button")
  //-   a(class="btn-floating btn-large primary")
  //-     i(class="material-icons") menu
  //-   ul
  //-     li
  //-       a(class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="New TweetLib" href='/')
  //-         i(class="material-icons") create
          
      

              
        
          
    

    
