extends layout
block content
  form(id='libATweetTab' class='questionContainer' name='questionForm' method='post' action='/fauxtweet')
    div(id='formIndicator')
      p Loading...
      div(class='progress')
        div(class='indeterminate')
    div(class='buttonBox')
      a(id="formMoreTweetsBtn"  class='waves-effect waves-light btn modal-trigger' href='#moreTweetsModalIndex') Pick Tweet
      a(id="sumbitIndexForm" class='btn waves-effect waves-light submitButton' href='') Submit
  div(id='moreTweetsModalIndex' class='modal')
    div(class='modal-header')
      h5 Pick A Tweet To Lib
      i(id='tweetModalCloseIcon' class='small material-icons') clear
    div(class='modal-content')
      div(class='modal-tweets')
        div(hidden id='modalLoadingIndicator')
          div(class="preloader-wrapper small active")
            div(class="spinner-layer spinner-blue-only")
              div(class="circle-clipper left")
                div(class="circle")
              div(class="gap-patch")
                div(class="circle")
              div(class="circle-clipper right")
                div(class="circle")
