extends layout
block content
  form(id='libATweetTab' class='questionContainer' name='questionForm' method='post' action='/fauxtweet')
    h5(id='formTitle') Lib The Latest Tweet
    div(id='formIndicator')
      p Loading...
      div(class='progress')
        div(class='indeterminate')
    div(class='buttonBox')
      a(id="formMoreTweetsBtn"  class='waves-effect waves-light btn modal-trigger' href='#moreTweetsModalIndex') Select Tweet
      a(id="sumbitIndexForm" class='btn waves-effect waves-light submitButton' href='') Submit
  div(id='moreTweetsModalIndex' class='modal')
    div(class='modal-header')
      h5 Pick A Tweet To Lib
    div(class='modal-content')
      div(class='modal-tweets')
    div(class='modal-footer')
      a(id='moreTweetsModalIndexClose' href='#!' class='modal-action modal-close waves-effect waves-green btn-flat') Close
    
      

    
