doctype html
html
  head
    title= 'LibTrump'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection")
    link(rel='stylesheet', href='/stylesheets/main.css')/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  body
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    header(class='header')
      h3 LibTrump 
      div See if you can tweet crazier than the president.
    //img(src='/media/trump.svg' class='backgroundImg')
    //object(type="image/svg+xml" data="./media/trump.eps" class='backgroundImg')
    img(src='./media/trump.svg' class='backgroundImg')
    block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="/js/materialize.min.js")
    if (page === 'index')
      script(src='/js/index.js')
    else if (page === 'fauxtweet')
      script(src='/js/fauxtweet.js')
      script(src='/js/html2canvas.js')
